.selected {
  font-weight: bold;
}

#customer-table {
  width: 305px;
  margin: 0;
  background-color: white;
  font-family: monospace;
  overflow-y: scroll;
  height: 315px;
}

.table-container {
  height: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scroll-margin: 5px;
}

table,
td,
tr {
  border: 1.3px solid #aaa;
  border-collapse: collapse;
  padding: 3px;
}

td,
th {
  overflow-wrap: anywhere;
}

#customer-table>thead>tr>th {
  margin: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-color: lightgray;
  border: 1px solid #aaa;
}

tbody>tr:hover {
  background-color: #ddd;
  cursor: pointer;
}