.header-container {
  display: flex;
  background-color: #776B5D;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 2px 4px 1px #a0978e;
}

.heading-title {
  font-size: 22px;
  text-transform: uppercase;
}

.greeting-message {
  font-size: 16px;
  font-weight: 500;
  color: #181513;
  margin-right: 30px;
}

.heading-button {
  text-align: center;
  font-size: 16px;
}

.heading-title,
.heading-title:hover,
.heading-title:active,
.heading-button {
  min-width: 60px;
  display: inline-block;
  margin: 10px 20px;
  color: #EBE3D5;
}

.heading-button:hover {
  color: #181513;
  text-decoration: underline;
}