.search-bar-container {
  width: inherit;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

#search-bar {
  height: 35px;
  border: none;
  width: 235px;
  padding-left: 15px;
  background-position: 20px;
  border-radius: 30px 0 0 30px;
}

.search-button {
  height: 37px;
  padding: 10px;
  padding-left: 7px;
  margin-left: -3px;
  font-weight: bold;
  color: #e4e1df;

  border: none;
  border-radius: 0 50px 50px 0;
  background-color: #776B5D;

  box-shadow: 2px 0px 10px 1px #a0978e;
}

.search-button:hover {
  cursor: pointer;
  background-color: #6b6054;
}